

/* 라이브러리 */
.con {
	margin: 0 auto;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.cell {
	float: left;
	box-sizing: border-box;
}

.cell-right {
	float: right;
	box-sizing: border-box;
}

.margin-0-auto {
	margin: 0 auto;
}

.block {
	display: block;
}

.con reply.h3 {
    width: 1100px;
    margin: 0 auto;
    font-size: 50px;
}

.inline-block {
	display: inline-block;
}

.text-align-center {
	text-align: center;
}

.line-height-0-ch-only {
	line-height: 0;
}

.line-height-0-ch-only>* {
	line-height: normal;
}

.relative {
	position: relative;
}

.absolute-left {
	position: absolute;
	left: 0;
}

.absolute-right {
	position: absolute;
	right: 0;
}

.absolute-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/* 커스텀 */

.con {
	max-width: 1050px;
}

html, body { 
	overflow-x: hidden;
}

.table-common>table {
	width: 100%;
	border-collapse: collapse;
    font-size: 13px;
}

.table-common .btn-box {
	text-align:center;
}

.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 25px;
}


.article-detail {
    border:2px solid var(--btn-color);
    border-left: none;
    border-right: none;
}

.article-detail > table {
    border:none;
    width:calc(100% - 100px);
}

.article-detail > table th, .article-detail > table td {
    border:none;
}

.article-detail > table tr:not(:last-child) {
    border-bottom:1px solid lightgray;
}

.article-detail > table tr.article-title > td {
    height:40px;
    font-size:1.5em;
}

.article-detail > table td:last-child {
    padding-right:100px;
}

.con h2 {
    font-size:20px;
}

.reply {
    margin-top:20px;
    border:2px solid var(--btn-color);
    padding:15px;
    box-sizing:border-box;
    border-left: none;
    border-right: none;
    margin-bottom: 100px;
}

.reply-form {
    padding:10px;
}

.reply-form > form input[type="text"] {
    width:200px;
}

.reply-form > form textarea {
    width:calc(100% - 100px);
    min-height:70px;
}

.reply-form > form input[type="submit"] {
    font-size: 15px;
    background-color: var(--btn-color);
    color: #ffffff;
    padding: 10px 30px;
    transition: 0.25s;
    position: absolute;
    margin-left: 8px;
    margin-top: 15px;
}

.reply-form > form input[type="submit"]:hover {
    background-color: var(--btn-darker);
    color: #d7fff1;
}

.reply-form > form > div:not(:last-child) {
    margin-bottom:5px;
}

.reply-list > table {
    border:none;
}
.reply-list > table td {
    border:none;
}

.reply-list > table tr:nth-child(2n+1) {
    background-color: #dae6ed;
}

.reply-list > table td:first-child {
    font-weight:bold;
    text-align: center;
    font-size: 12px;
}