{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--검색 기능 + 검색 페이지-->

    {% if tours %}        <!--만약, 검색창에 입력한 값이 있다면 이라는 의미다.-->
    <br><br>
    <h3 class="region-heading">검색하신 {{ searched }}에 관련된 내용입니다.</h3><br>
        {% for tour in tours.all %}        <!--만약 검색 결과가 여러 개일 수 있기 때문에 반복문을 사용했다. -->
        <br>    
        <div class="course-box">
            <h2><a href="{% url 'detail' tour.id %}">게시글 제목: <br>
                {{ tour.title }}</a></h2>
                <br><br>
            <h2>{{ tour.body }}</h2>
        </div>
        {% endfor %}
    {% else %}        <!--만약 검색창에 아무것도 입력하지 않았을 경우 뜨는 메시지다.-->
        <h1> 찾고 있는 여행지와 여행코스를 검색창에 입력해주세요. </h1>
        <br><br><br>
    {% endif %}

{% endblock %}